@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared */
.justify{
  text-align: justify;
}

.display-flex {
  display: flex;
}
.text-gray{
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.col-primary{
  color: #FF900E ;
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 100px;
}
/* header styles */
.g3-color{
  color: #FF900E ;
  font-size: 3333
  ;
}

/* naver related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner reletted style  */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px ;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
  margin-bottom: 45px;
}

/* teams */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-features{
  margin-left: 74px;
  max-width: 530px;
}
.feature-title{
  font-size: 2.8rem;
  font-weight: bold;
}
#quick-list{
  font-weight: 500;
}


/* feature-enjoy */

.feature-enjoy{
  gap: 140px;
}
.feature-enjoy-title{
  color: #131313;
  font-size: 2.8rem;
}

#feature-margin{
  border-left: 5px solid #FF900E;
  padding: 20px;
  margin: 0%;
}

.feature-enjoy-des{
  font-size: 16px;
}

.enjoy-h3{
  font-size: 1.25rem;
}

.enjoy-card{
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin: 25px 0;
  border-radius: 8px;
}

#Experience-logo{
  padding: 45px 42px;
  margin-top: -77px;
  margin-left: -92px;
}

#Experience-year{
  font-size: 4rem;
  font-weight: bold;
}

#Experience-des{
  font-size: 1.56rem;
  font-weight: 500;
}

/* some facts */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact{
  border: #FF900E solid 1px;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.fact-title{
  font-size: 2.8rem;
  font-weight: bold;
  color: #131313;
  margin-top: 100px;
}
.facts-des{
  max-width: 540px;
  color: #727272;
  margin-bottom: 100px;
}

.fact-number{
  font-size: 2.8rem;
  margin: 0%;
  color: #424242;
  font-weight: 600 ;
}
.fact-name{
  font-size: 20px;
  color: #727272;
  margin: 0%;
}

/* sponspor */
.Sponsors-head{
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.Sponsors-title{
  font-size: 2.8rem;
  font-weight: bold;
  color: #131313;
  margin-top: 150px;
}

.sponsors-com{
  display: grid;
  grid-template-columns: repeat(5, 1fr )
}

.sponsors-com img{
  filter: grayscale() ;
}


footer{
  background-color: #FFF4E7;
  padding: 39px 410px;
  margin: 130px 240px 216px 240px;
  text-align: center;
  border-radius: 8px;
}



/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, 
  .feature-enjoy,
  .some-facts,
  .sponsors,
  .teams{
    flex-direction: column;
  }
  .brand{
    margin-bottom: 0%;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 600;
    color: #FFF4E7;
    padding-left: 0;
}
  .nav-item{
    background-color: #FF900E; 
    padding: 8px 5px;
    border-radius: 4px;
    margin: 5px  ;
  }
  
  

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin: 20px;
  }

  .feature-enjoy{
    gap: 75px;
    margin: 20px  ;
  }
  .feature-archi{
    width: 100%;
  }
  #Experience-logo{
    margin-top: -50px;
    margin-left: 20px;
    padding: 20px 42px;
  }
  .some-facts {
    padding: 20px;
    margin-top: -50px;
  }
  .fact-container{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    justify-items: center;
  }
  .fact{
    margin-bottom: 35px;
    align-items: center;
    text-align: center;
  }
  .feature-enjoy-title{
    font-size: 2rem;
  }
  .sponsors{
    margin-top: -100px;
  }
  .sponsors-com{
  display: grid;
  grid-template-columns: repeat(1, 1fr );
  justify-items: center;
}
.sponsors-com img{
  margin-bottom: 40px;
}
footer{
  background-color: #FFF4E7;
  padding: 20px;
  margin: 45px;
  text-align: center;
}
#feature-margin{
  border-left: 5px solid #FF900E;
  padding: 10px;
  margin-top: 45px;
  margin-bottom: 35px;
}
}





/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
  .teams,
  .feature-enjoy{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .our-features{
    margin: 50px auto;
  }
  .feature-archi{
  width: 100%;
}
  
  #Experience-logo{
    margin-top: -50px;
    margin-left: 20px;
    padding: 30px 42px;
  }
}



